body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: darkorange;
}

p {
    color: dimgray;
    text-align: justify;
    
}

section {
    display: flex;
    margin-bottom: 80px;
}

.half-width {
    width: 50%;
    padding-left: 8%;
}

.half-width img{
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image:linear-gradient(#f78872, #f75a3a);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;

}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big > .half-width{
    padding-right: 10%;
}

.dream-big .half-width img{
    width: 100%;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}